* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
body, html {
    overflow: hidden;
    height: 100%;
}

@font-face {
    src: url(../fonts/OpenSans-Bold.ttf);
    font-family: 'OpenSans-Bold';
}

.noDisplay {
    display: none !important;
}

.noDrag {
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.skip {
    position: absolute;
    width: 20vh;
    z-index: 10;
    top: -2vh;
    right: 2vh;
    opacity: 0;
    cursor: pointer;
    filter: brightness(80%);
    transition: filter 0.2s linear, opacity 1s ease-in-out, top 0.5s cubic-bezier(0.57, 0.92, 0.55, 1.15);
}

.welcome_container {
    background-image: url('../images/bkg_inicio.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /* flex */
    display: flex;
    justify-content: center;
}
.mr_open_container {
    position: relative;
    margin-top: 10vh;
    z-index: 3;
    /* flex */
    align-self: center;
}
.text_final {
    opacity: 1;
    transform: scale(1);
    position: absolute;
    height: 18vh;
    margin-top: 6vh;
    margin-left: -1vh;
    z-index: 2;
    -webkit-filter: drop-shadow(0px 0px 20px #3f71b85e);
    transition: all 1s ease-in-out;
}
.mr_open {
    opacity: 1;
    transform: scale(1);
    height: 80vh;
    margin-bottom: 15vh;
    transition: all 1s ease-in-out;
}
.disclaimer {
    position: absolute;
    z-index: 10;
    width: 100%;
    padding: 2vh 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 3vh;
    letter-spacing: 0.2em;
    /* flex */
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#volver {
    opacity: 0;
    height: 100%;
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease-in-out;
}
#btn_volver {
    align-self: center;
    width: 146px;
    height: 48px;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    line-height: 16px;
    background: #ffffff;
    color: #266da8;
    letter-spacing: 0;
    padding: 16px 32px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(13, 40, 61, 0.05);
    border: none;
    cursor: pointer;
    padding: 16px 32px !important;
    transition: transform 0.1s linear;
}
#btn_volver:hover {
    transform: translate(0px, -2px);
}

.fade_out {
    transform: scale(0.9);
    opacity: 0;
}

.fade_in {
    opacity: 1 !important;
}